@charset "utf-8";
body {
	font: 100%/1.4  Arial, Helvetica, sans-serif;
	background-color: #41454D;
	margin: 0;
	padding: 0;
	color: #424242;
}
/* ~~ Selectores de elemento/etiqueta ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6
{
	margin: 0;	 
	padding: 0;
	font-family: 'Arial Narrow','Helvetica Condensed', Arial, Helvetica, sans-serif;

	
}

p
{
	margin: 0;	 
	padding: 0;
	line-height: 1.5em;
	margin-bottom: 1em;
}
a img { 
	border: none;
}

label[for] 
{
	cursor: pointer;
}

/* Compatibilidad con HTML 5. */
header, section, footer, aside, article, figure {
	display: block;
	
}

/* -- LINKS	--	*/
a:link {
	color: #C92A2A;
	text-decoration: underline; 
}
a:visited {
	color: #993333;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	color:#F03E3E;
	/*text-decoration: none;*/
}
/* ~~ Este contenedor de anchura fija rodea a todas las demás bloques ~~ */
.containerBody {
	min-width: 320px;
	max-width: 960px;
	background-color: #fafafa;
	color: #424242;
	margin: 0 auto; 
	box-shadow: 0.5em 0.5em 3em rgba(24, 24, 24, 0.4);	
}
header {
	background-color: #F03E3E;
	color: #fafafa;
	padding: 1em 2em;
}
header  *  
{
	display: inline-block;
	vertical-align: middle;
}

header .imgLogo {
	margin-right: 1.2em;
}

.content {
	padding: 2em 2.5em;
}

.content.passSuccess
{
	text-align: center;
}

img.imgPassSuccess
{
	width:200px;
	margin: 2em;
}


.formContainer
{
	margin: 2em auto;
}

.formContainer label
{
	display: block;
	color: #424242;
	font-style: italic;
}

.formContainer input
{
	font-size: 1.2em;
	padding: 0.4em;
	border: 1px solid #C00;
	border-radius: 0.4em;
	background-color:#fff;
	box-shadow: inset 0 2px 5px #ccc;
}
.formContainer button
{
	font-size: 1.2em;
	padding: 0.4em 2em;
	border: 1px solid #6e242b;
	background-color: #C92A2A;
	color: #fafafa;
	border-radius: 3em;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
}

.fieldContainer
{
	margin: 0.6em 0;
}

/* ~~ El pie de página ~~ */
footer {
	padding: 10px 0;
	background-color: #242424;
	color:#fafafa;
	position: relative;
	clear: both; 
	font-size: 10pt;
}

footer a:link,
footer a:visited

{
	color:#fafafa;
}
footer a:hover, footer a:active, footer a:focus { 
	color:#F03E3E;
	/*text-decoration: none;*/
}


.cont-enlacespie ul
{
	list-style: none;
	text-align:center;
}

.cont-enlacespie li
{
	display:inline-block;
}
.cont-enlacespie li::before {

	content: ' | ';
	margin: 0 1em; 
}

.cont-enlacespie li:first-child:before
{
	content:'';
}


#direccionpie
{
	padding: 1em 2em;
	text-align: center;
	line-height: 2em;
}
#direccionpie p
{
	display:inline;
}

/*	--	ERROR DIV	--*/
.error
{
	margin: 0;
	padding: 0;
	
}

.field-validation-error
{
	display:block;
	background-color: #fabfbf;
	color: #6e242b;
	padding: 8pt 12pt 8pt 32pt;
	border: 1px solid #C92A2A;
	border-radius: 5px;
	font-size: 12pt;
	background-size: 12pt;
	background-image: url(../img/error-flat.png);
	background-position: 12pt 12pt;
	background-repeat: no-repeat;
}

.input-validation-error
{
	display:block;
	background-color: #fabfbf;
	color: #6e242b;
	padding: 8pt 12pt 8pt 32pt;
	border: 1px solid #C92A2A;
	border-radius: 5px;
	font-size: 12pt;
	background-size: 12pt;
	background-image: url(../img/error-flat.png);
	background-position: 12pt 12pt;
	background-repeat: no-repeat;
}


.validation-summary-errors li
{
	display:block;
	background-color: #fabfbf;
	color: #6e242b;
	padding: 8pt 12pt 8pt 32pt;
	border: 1px solid #C92A2A;
	border-radius: 5px;
	font-size: 12pt;
	background-size: 12pt;
	background-image: url(../img/error-flat.png);
	background-position: 12pt 12pt;
	background-repeat: no-repeat;
}

.validation-summary-valid
{
   display: none;
}


.field-validation-valid
{
   display: none;
}
