<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="integraMobileWSSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="integraMobileWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5676/integraMobileWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="integraMobileWSSoap"
                contract="IntegraMobileWSLocal.integraMobileWSSoap" name="integraMobileWSSoap" />
            <endpoint address="http://localhost:5676/integraMobileWS.asmx"
                binding="customBinding" bindingConfiguration="integraMobileWSSoap12"
                contract="IntegraMobileWSLocal.integraMobileWSSoap" name="integraMobileWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>