<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="integraMobile.ExternalWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_IPublishServiceV10">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IPublishServiceV12">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="CustomBinding_IPublishServiceV11">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV10"
                contract="MadridPlatform.IPublishServiceV10" name="CustomBinding_IPublishServiceV10" />
            <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc/V1.2"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV12"
                contract="MadridPlatform.IPublishServiceV12" name="CustomBinding_IPublishServiceV12" />
            <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc/V1.1"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV11"
                contract="MadridPlatform.IPublishServiceV11" name="CustomBinding_IPublishServiceV11" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <integraMobile.ExternalWS.Properties.Settings>
            <setting name="integraMobile_ExternalWS_StandardParkingWS_TariffComputerWS"
                serializeAs="String">
                <value>http://localhost:41858/TariffComputer.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_EysaThirdPartyConfirmParkWS_Ticket"
                serializeAs="String">
                <value>http://esixvyewb01t/parquimetrosWSVS2012/framework/ticket.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_EysaThirdPartyFineWS_Anulaciones"
                serializeAs="String">
                <value>http://esdcvyewb02p/parquimetrosWS/framework/anulaciones.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_gTechnaThirdPartyFineWS_PayByPhoneOperationService"
                serializeAs="String">
                <value>http://demo.sales.gtechna.net/officercc-qa-ipark/ws/PayByPhoneOperation</value>
            </setting>
            <setting name="integraMobile_ExternalWS_gTechnaThirdPartyParkingConfirmWS_MESParkingRightsSOAPFacadeService"
                serializeAs="String">
                <value>http://192.168.3.91:8080/officercc-spaq/services/ParkingRightsListener</value>
            </setting>
            <setting name="integraMobile_ExternalWS_EysaThirdPartyParkWS_Tarifas"
                serializeAs="String">
                <value>https://eysaIP.eysanet.com/parquimetrosWS/framework/tarifas.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_MeyparThirdPartyOffstreetWS_InterfazPublicaWebService"
                serializeAs="String">
                <value>http://80.28.251.76:2424/InterfazPublicaWS/InterfazPublicaWebService.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_PagateliaWS_ApiPayment"
                serializeAs="String">
                <value>https://www.pagatelia.com/apipayments/ApiPayment.svc</value>
            </setting>
            <setting name="integraMobile_ExternalWS_MeyparPICWS_PIC_WS" serializeAs="String">
                <value>https://nexus.meypar.com/PreProd/TariffComputerBilbo.WS/PIC_WS.asmx</value>
            </setting>
            <setting name="integraMobile_ExternalWS_integraExternalServices_integraExternalServices"
                serializeAs="String">
                <value>http://localhost/integraMobile.WS_Bilbao/integraExternalServices.asmx</value>
            </setting>
        </integraMobile.ExternalWS.Properties.Settings>
    </applicationSettings>
</configuration>