<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="integraMobile.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>


  </configSections>

  <configProtectedData>
    <providers>
      <add name="IntegraProvider" type="integra.Infrastructure.ProtectedConfiguration.CustomProtectedConfigurationProvider,PIC.ProtectedConfigurationProvider,Version=1.0.0.0, Culture=neutral,PublicKeyToken=f670edfd05848278,processorArchitecture=MSIL" keyFilePath="C:\work\svn\dbPIC\trunk\02_Dev\02_CC\02_Src\Infrastructure\PICProtectedConfigurationProvider\KeysIntegra.txt" />
    </providers>
  </configProtectedData>

  <log4net>
    <appender name="PAYPALLOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\paypal.WEB.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="INTEGRAMOBILEWEB_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\integraMobileWEB.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="IECISA_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\IECISA.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>    
    <logger name="com.paypal.sdk">
      <level value="ALL" />
      <appender-ref ref="PAYPALLOGFILE" />
    </logger>
    <logger name="SQLCustomersRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWEB_LOGFILE" />
    </logger>
    <logger name="SQLInfraestructureRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWEB_LOGFILE" />
    </logger>
    <logger name="SQLGeograficAndTariffsRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWEB_LOGFILE" />
    </logger>
    <logger name="IECISAPayments">
      <level value="ALL" />
      <appender-ref ref="IECISA_LOGFILE" />
    </logger>
  </log4net>
  
  <paypal>
    <endpoints>
      <wsdl>
        <environment name="live">
          <port name="PayPalAPI">https://api.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-aa-3t.paypal.com/2.0/</port>
        </environment>
        <environment name="sandbox">
          <port name="PayPalAPI">https://api.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
        </environment>
        <environment name="beta-sandbox">
          <port name="PayPalAPI">https://api.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
        </environment>
      </wsdl>
    </endpoints>
  </paypal>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReCaptchaPublicKey" value="6LcHk9cSAAAAAKEs8VKy6Q7s_9tPtbHuFmCxlH9_" />
    <add key="ReCaptchaPrivateKey" value="6LcHk9cSAAAAAKAolZoy7iQvhcjBlvkHnolsSL1w" />    
    <add key="DefaultCountryCode" value="ES" />
    <add key="NumCharactersActivationSMS" value="6" />
    <add key="NumSecondsTimeoutActivationSMS" value="10000" />
    <add key="integraSenderWS_Username" value="integraSender" />
    <add key="integraSenderWS_Password" value="Sender2012" />
    <add key="integraSenderWS_SendSMSs" value="false" />
    <!-- If doesn't exist or null application is multi currency -->
    <add key="ApplicationCurrencyISOCode" value="" />
    <add key="OperationsGridNumRows" value="15" />
    <add key="UsernameEqualsToEmail" value="0" />
    <add key="WebBaseURL" value="http://localhost/integramobile" />
    <add key="EmailSignatureGraphic" value="" />
    <add key="EmailSignatureURL" value="" />

    <!-- If SuscriptionType is empty user can choose suscription type. If not empty values can be:
      1: Prepay
      2: Pay per transaction    
    -->
    <add key="SuscriptionType" value="" />
    <add key="SuscriptionType1_DiscountValue" value="1" />
    <add key="SuscriptionType1_DiscountCurrency" value="EUR" />
    <add key="SuscriptionType2_PayPerTransactionRefundMoney" value="1" />
    <add key="SuscriptionType2_AddPayMethChargeValue" value="100" />

    <!-- 1: Credit Call; 2: IECISA -->
    <add key="CreditCardPayment_Provider" value="1" /> 
    <!-- CREDITCALL  PARAMETERS -->
    <add key="CREDIT_CALL_EKASHU_FORM_URL" value="https://test.ekashu.com" />
    <add key="CREDIT_CALL_CARD_EASE_URL" value="https://test.cardeasexml.com/generic.cex" />
    <add key="CREDIT_CALL_CARD_EASE_TIMEOUT" value="45000" />
    <add key="CREDIT_CALL_TERMINAL_ID" value="99971533" />
    <add key="CREDIT_CALL_TRANSACTION_KEY" value="ON8cl/CfOp/Bd/d2" />
    <add key="CREDIT_CALL_HASH_KEY" value="" />
    <add key="CREDIT_CALL_SELLER_NAME" value="Integra Parking" />
    <!-- IECISA  PARAMETERS -->
    <add key="IECISA_ASYNC_FORM_URL" value="https://93.191.142.23/CF_WEB_EYSA/VisualPluginWeb/vtw.aspx" />
    <add key="IECISA_SYNC_URL" value="https://93.191.142.23/CF_WEB_EYSA/WebPlugin/xtn.asp" />
    <add key="IECISA_CF_USER" value="0000028002800280" />
    <add key="IECISA_CF_MERCHANT_ID" value="00000280" />
    <add key="IECISA_CF_CENTRE_ID" value="0280" />
    <add key="IECISA_CF_POS_ID" value="0280" />
    <add key="IECISA_CF_TEMPLATE" value="EYSA" />
    <!-- PAYPAL PARAMETERS   -->
    <add key="PAYPAL_API_APPLICATION-ID" value="APP-80W284485P519543T" />
    <add key="PAYPAL_API_DEVICE_ID" value="integraMobile" />
    <add key="PAYPAL_API_IP_ADDRESS" value="127.0.0.1" />
    <add key="PAYPAL_API_TRUST_ALL" value="true" />
    <add key="PAYPAL_API_ENVIRONMENT" value="sandbox" />
    <add key="PAYPAL_API_ENPOINT" value="https://svcs.sandbox.paypal.com/" />
    <add key="PAYPAL_API_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd=" />
    <add key="PAYPAL_API_REQUESTFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_RESPONSEFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_PAYPAL_ID" value="febermejo.b@integraparking.com" />
    <add key="PAYPAL_API_USERNAME" value="febermejo.b_api1.integraparking.com" />
    <add key="PAYPAL_API_PASSWORD" value="1376412974" />
    <add key="PAYPAL_API_SIGNATURE" value="AKqzi.yUjnz8hyYeD6pPXlHMkAs0As.2CMRka35jcu-bDM73KfFQSUOk" />
    <add key="PAYPAL_API_VERSION" value="96.0" />
    <add key="PAYPAL_PREAPPROVAL_MAX_NUMBER_PAYMENTS" value="500" />
    <add key="PAYPAL_PREAPPROVAL_MAX_TOTAL_AMOUNT" value="1500.00" />
    <add key="PAYPAL_PREAPPROVAL_MAX_AMOUNT_PER_PAYMENT" value="50.00" />
    <add key="PAYPAL_PREAPPROVAL_AMOUNTS_CURRENCY" value="EUR" />

    <add key="RechargeValues" value="20*1000*2000*3000*4000*5000*999999999" />
    <add key="RechargeDefaultValueIndex" value="0" />

    <add key="invoiceReportSource" value="integraMobile.Reports.Invoicing.iparkme_invoice" />


    <!--Integra Currency Changer Parameters-->
    <add key="CurrencyServiceURL" value="https://ws.iparkme.com/CurrencyChanger.WS/currencychange" />
    <add key="CurrencyServiceTimeout" value="5000" />
    <add key="CurrencyServiceHashSeed" value="2_)V6RQu\6ZZa9R~L&gt;CQ)z?G" />

    <!-- Coupons Currency ISO Code -->
    <add key="CouponsCurrencyISOCode" value="MXN" />


  </appSettings>

  <!--<connectionStrings configProtectionProvider="IntegraProvider">
    <EncryptedData>2jf/Mc0UH4ASs0tdUK4RwqcKM7x5CfqcNWi7m5zxZAaCpzVA4Ns+oM9sF5m8rHMD9r6LYUDF/SQNFL41vSGsmJSHRp2pDQb/VpLXxj6qzqWB4kChsyD4s3BvzoF3si6nUjPLU5EmBXhQRvOf4uiqZINzW2xDLSlDgpShexsNFM4siC3w371/nQOHnfzXidxWaNcH1fbMQCB9MVdVyCvM5x+9lGeU1Vza0UpaA5llZdta5X+yfaMKNHpLe1MPsyIfP6+iDjnJ/RZ+4Rz+TNgsbNaxvxxmRNXSYjOAkJXIo85XFC/IFOtqqtpS9ygnu4E8J4pc/4VeUhCFrKFTU7hbwnmA1cckuLipiou7Z/plBovgJAtaI2GPzDBQAsdpaKd0Nd9e1OvfDrDAjF7POSCa1tEZSXkkIaAfzgUUoM0eAV4f3NYtiuMoeED/tzeuE1Gw37ahFUuWaJQgUMPWnGPE+7cUtdllobT4FDBkXK1sEK2YbQ19sdYe0TnVTlBM6Rayb1CD50jAJoYC7zjXdsqMW8y6nV2nYdJg/tLipJwQcvXgfWGntQu9wn2CpAINt0Yf9elaAP7iCdQcbaAC3iwAQ+ljSLMI8e5VIbbcNNf09zoS2P9tsNJFp8qaEHhTbw7iWygrRqLwPzFDNzsvdrpNPpLw2ODEn8MSQF9madpPTLQhSUr1LqfMJlrDZPSCJLXWG3zOAl1zkeFTaOUUJTFFQc/x345rhFH+CaPTwvLzGubE+Esdh4mYOw==</EncryptedData>
  </connectionStrings>-->
  <connectionStrings>
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=kike-hp\SQLEXPRESS;Initial Catalog=integraMobileBilbao;Integrated Security=False;User ID=iis;Password=iis;" providerName="System.Data.SqlClient" />
    <add name="integraMobile.Reports.Properties.Settings.integraMobileReports" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=integraMobile;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <applicationSettings>  
    <integraMobile.Domain.Properties.Settings>
      <setting name="integraMobile_Domain_integraSenderWS_integraSender" serializeAs="String">
        <value>http://eagle.apcloud.es/integraSenderWS/integraSender.asmx</value>
      </setting>
    </integraMobile.Domain.Properties.Settings>
    <integraMobile.Infrastructure.Properties.Settings>
      <setting name="integraMobile_Infrastructure_CurrencyConvertor_CurrencyConvertor" serializeAs="String">
        <value>http://www.webservicex.net/CurrencyConvertor.asmx</value>
      </setting>
    </integraMobile.Infrastructure.Properties.Settings>
  </applicationSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/LogOn" name=".ASPXAUTH" protection="All" path="/" timeout="2880" />
    </authentication>
    <machineKey validationKey="8DDA4EB7EBA9338D72916192C6128214C943FDA05D7263D4B888E0648A5839BD01BDF4B736202C21B3B42E1A1F67F72F86B0FE3DE0BB9D39832C8839D57701DD" decryptionKey="254D9921E28BEEE172575F1B8761C8209C00C5DB5183213D983E5E1BFB3D9585" validation="SHA1" decryption="AES" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" passwordFormat="Encrypted" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager>
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="integraMobile.Properties" />
        <add namespace="integraMobile.Infrastructure" />
        <add namespace="integraMobile.Domain.Abstract" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" />
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>