<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="integraMobile.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="integraMobile.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <!--<log4net>
    <appender name="PAYPALLOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\paypal.WS.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="INTEGRAMOBILEWS_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="c:\inetpub\Log4net\integraMobileWS.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <logger name="com.paypal.sdk">
      <level value="ALL" />
      <appender-ref ref="PAYPALLOGFILE" />
    </logger>
    <logger name="integraExternalServices">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="integraMobileWS">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="SQLCustomersRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="SQLInfraestructureRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="SQLGeograficAndTariffsRepository">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="CardEasePayments">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
    <logger name="PaypalPayments">
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </logger>
  </log4net>-->
  <log4net>
    <appender name="INTEGRAMOBILEWS_LOGFILE" type="log4net.Appender.RollingFileAppender">
      <file value="C:\inetpub\log4net\integraMobile.WS.log" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="5" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss,fff-dd/MMM/yyyy} [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <logger name="NHibernate" additivity="false">
      <level value="DEBUG" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="INTEGRAMOBILEWS_LOGFILE" />
    </root>
  </log4net>  

  <paypal>
    <endpoints>
      <wsdl>
        <environment name="live">
          <port name="PayPalAPI">https://api.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-aa-3t.paypal.com/2.0/</port>
        </environment>
        <environment name="sandbox">
          <port name="PayPalAPI">https://api.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.sandbox.paypal.com/2.0/</port>
        </environment>
        <environment name="beta-sandbox">
          <port name="PayPalAPI">https://api.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA">https://api-aa.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPI" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
          <port name="PayPalAPIAA" threetoken="true">https://api-3t.beta-sandbox.paypal.com/2.0/</port>
        </environment>
      </wsdl>
    </endpoints>
  </paypal>

  <appSettings>
    <!-- type of allowed algorithms: HMACSHA256, MACTripleDES    -->
    <add key="AuthHashAlgorithmMobile" value="HMACSHA256"/>
    <add key="AuthHashKeyMobile" value="jR]qrB)N2VH4¿_eYu,sQhX]p"/>

    <add key="AuthHashAlgorithmExternal" value="HMACSHA256"/>
    <add key="AuthHashKeyExternal" value="O3AG4otTY6K9S0akV14x6FWN"/>	

    <!-- If SuscriptionType is empty user can choose suscription type. If not empty values can be:
      1: Prepay
      2: Pay per transaction    
    -->
    <add key="SuscriptionType" value="1" />
    <add key="SuscriptionType1_DiscountValue" value="1" />
    <add key="SuscriptionType1_DiscountCurrency" value="EUR" />
    <add key="SuscriptionType2_AddPayMethChargeValue" value="MXN;5000;EUR;50;USD;50" />
    
	<add key="PaymentMeanType_pstPrepay" value="1" />
	<add key="PaymentMeanType_pstPrepay_pmtSkipped" value="0" />
	<add key="PaymentMeanType_pstPrepay_pmtDebitCreditCard" value="1" />
	<add key="PaymentMeanType_pstPrepay_pmtPaypal" value="0" />
	<add key="PaymentMeanType_pstPrepay_pmtCoupon" value="0" />
	<add key="PaymentMeanType_pstPerTransaction" value="0" />
		
        
    <!-- ConfirmUserData Parameters    -->
    <add key="ConfirmUserData_Step2URL" value="http://eagle.apcloud.es/integraMobile/IndividualsRegistration/Step2" />
    <add key="ConfirmUserData_Culture" value="en-US" />
    <add key="ConfirmUserData_WebBaseURL" value="http://eagle.apcloud.es/integraMobile" />
   
    <add key="NumCharactersActivationSMS" value="6" />
    <add key="NumSecondsTimeoutActivationSMS" value="600000" />
    <add key="ForgotPassword_URL" value="http://eagle.apcloud.es/integraMobile/Account/SecurityOperation" />
    <add key="integraSenderWS_Username" value="integraSender" />
    <add key="integraSenderWS_Password" value="Sender2012" />
    <add key="integraSenderWS_SendSMSs" value="false" />
    <!-- If doesn't exist or null application is multi currency -->
    <add key="ApplicationCurrencyISOCode" value="" />    
    <!-- Mobile Session Parameters    -->
    <add key="SessionTimeoutInMinutes" value="60" />
    <add key="ConfirmationTimeoutInSeconds" value="2000000" />
    <!-- 3rd Party WS Method Call Timeout in milliseconds    -->
    <add key="3rdPartyWSTimeout" value="15000" />
    <!-- Development parameter: Check Session and hash   -->
    <add key="CheckSessionAndHash" value="0" />
    <!-- Company Name for sending to Third Parties: EYSA   -->
    <add key="EYSACompanyName" value="EysaMobileTest" />
    <!-- Company Name for sending to Third Parties: GTECHNA   -->
    <add key="GtechnaCompanyName" value="INTEGRA" />
    <!-- Company Name for sending to Third Parties: Standard   -->
    <add key="STDCompanyName" value="IPARKME" />
    <!-- Num Days to return in historic operations list to the device   -->
    <add key="NumDaysToGoBackInOperationsList" value="360" />
    <!-- Error notification file path   -->
    <add key="ErrorNoficationsConfig" value="C:\integraServices\integraMobileWSConfirmationService\Notifications.config" />

    <add key="PagateliaWsUrl" value="http://lt.pagatelia.com/apipayments/ApiPayment.svc?wsdl" />
    <add key="PagateliaWsAuthHashKey" value=":K4G)%wk2($!=$3:M]r?j&lt;:D" />

    <!-- 1: Credit Call; 2: IECISA -->
    <add key="CreditCardPayment_Provider" value="1" />
    <!-- CREDITCALL  PARAMETERS -->
    <add key="CREDIT_CALL_EKASHU_FORM_URL" value="https://test.ekashu.com" />
    <add key="CREDIT_CALL_CARD_EASE_URL" value="https://test.cardeasexml.com/generic.cex" />
    <add key="CREDIT_CALL_CARD_EASE_TIMEOUT" value="45000" />
    <add key="CREDIT_CALL_TERMINAL_ID" value="99971533" />
    <add key="CREDIT_CALL_TRANSACTION_KEY" value="ON8cl/CfOp/Bd/d2" />
    <add key="CREDIT_CALL_SELLER_NAME" value="EysaMobile" />
    <add key="CREDIT_CALL_HASH_KEY" value="" />    
    <add key="CREDIT_CALL_CSS_URL" value="" />    
    <!-- IECISA  PARAMETERS -->
    <add key="IECISA_ASYNC_FORM_URL" value="https://93.191.142.23/CF_WEB_EYSA/VisualPluginWeb/vtw.aspx" />
    <add key="IECISA_SYNC_URL" value="https://93.191.142.23/CF_WEB_EYSA/WebPlugin/xtn.asp" />
    <add key="IECISA_CF_USER" value="0000028002800280" />
    <add key="IECISA_CF_MERCHANT_ID" value="00000280" />
    <add key="IECISA_CF_CENTRE_ID" value="0280" />
    <add key="IECISA_CF_POS_ID" value="0280" />
    <add key="IECISA_CF_TEMPLATE" value="EYSA" />
    <add key="IECISA_MAC_KEY" value="193D59719B1B2662A8DB8A2EF1223B4E" />    
    <!-- PAYPAL PARAMETERS   -->
    <add key="PAYPAL_API_APPLICATION-ID" value="APP-80W284485P519543T" />
    <add key="PAYPAL_API_DEVICE_ID" value="integraMobile" />
    <add key="PAYPAL_API_IP_ADDRESS" value="127.0.0.1" />
    <add key="PAYPAL_API_TRUST_ALL" value="true" />
    <add key="PAYPAL_API_ENVIRONMENT" value="sandbox" />
    <add key="PAYPAL_API_ENPOINT" value="https://svcs.sandbox.paypal.com/" />
    <add key="PAYPAL_API_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd=" />
    <add key="PAYPAL_API_REQUESTFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_RESPONSEFORMAT" value="SOAP11" />
    <add key="PAYPAL_API_PAYPAL_ID" value="febermejo.b@integraparking.com" />
    <add key="PAYPAL_API_USERNAME" value="febermejo.b_api1.integraparking.com" />
    <add key="PAYPAL_API_PASSWORD" value="1376412974" />
    <add key="PAYPAL_API_SIGNATURE" value="AKqzi.yUjnz8hyYeD6pPXlHMkAs0As.2CMRka35jcu-bDM73KfFQSUOk" />
    <add key="PAYPAL_API_VERSION" value="96.0" />
    <add key="PAYPAL_PREAPPROVAL_MAX_NUMBER_PAYMENTS" value="500" />
    <add key="PAYPAL_PREAPPROVAL_MAX_TOTAL_AMOUNT" value="1500.00" />
    <add key="PAYPAL_PREAPPROVAL_MAX_AMOUNT_PER_PAYMENT" value="50.00" />
    <add key="PAYPAL_PREAPPROVAL_AMOUNTS_CURRENCY" value="EUR" />

    <add key="confirmationToDeleteUserPlate" value="1" />
    <add key="UserFavouriteGroupQueryDays" value="10" />

    <add key="UrlMarket_Android" value="*** url market android ***" />
    <add key="UrlMarket_WindowsPhone" value="" />
    <add key="UrlMarket_iOS" value="" />
    <add key="UrlMarket_Blackberry" value="" />    
    <add key="UrlMarketMsg_Mandatory_Android_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Android_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Android_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Android_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_WindowsPhone_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_WindowsPhone_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_WindowsPhone_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_WindowsPhone_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_iOS_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_iOS_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_iOS_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_iOS_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Blackberry_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Blackberry_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Blackberry_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_Mandatory_Blackberry_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>You need to update your app to keep working with it.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Android_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Android_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Android_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Android_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_WindowsPhone_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_WindowsPhone_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_WindowsPhone_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_WindowsPhone_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_iOS_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_iOS_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_iOS_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_iOS_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Blackberry_en-US" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Blackberry_es-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Blackberry_fr-CA" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="UrlMarketMsg_NotMandatory_Blackberry_ca-ES" value="&lt;msg>A new version of EYSAMobile with new features is already available.&lt;/msg>&lt;msg>Please update your app to enjoy the new features.&lt;/msg>" />
    <add key="CheckVersionFrom_Android" value="1.2.5" />
    <add key="CheckVersionFrom_WindowsPhone" value="1.2.5" />
    <add key="CheckVersionFrom_iOS" value="1.2.5" />
    <add key="CheckVersionFrom_Blackberry" value="1.2.5" />
    <add key="CheckVersionUpdateMandatory_Android" value="1.2.5" />
    <add key="CheckVersionUpdateMandatory_WindowsPhone" value="" />
    <add key="CheckVersionUpdateMandatory_iOS" value="1.2.5" />
    <add key="CheckVersionUpdateMandatory_Blackberry" value="" />
    <add key="CheckVersionUpdateNotMandatory_Android" value="1.2.5" />
    <add key="CheckVersionUpdateNotMandatory_WindowsPhone" value="" />
    <add key="CheckVersionUpdateNotMandatory_iOS" value="1.2.5" />
    <add key="CheckVersionUpdateNotMandatory_Backberry" value="" />

    <add key="UsernameEqualsToEmail" value="0" />

    <!-- External coupons lock process timeout (in seconds) -->
    <add key="ExternalCouponsLock_Timeout" value="1200" />

    <add key="UserData_SeexTime" value="600" />

    <!--Integra Currency Changer Parameters-->
    <add key="CurrencyServiceURL" value="https://ws.iparkme.com/CurrencyChanger.WS/currencychange" />
    <add key="CurrencyServiceTimeout" value="5000" />
    <add key="CurrencyServiceHashSeed" value="2_)V6RQu\6ZZa9R~L>CQ)z?G" />



  </appSettings>
  <connectionStrings>
    <add name="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" connectionString="Data Source=KIKE-HP\SQLEXPRESS;Initial Catalog=integraMobile;Persist Security Info=True;User ID=iis;Password=iis" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <applicationSettings>
    <integraMobile.Domain.Properties.Settings>
      <setting name="integraMobile_Domain_integraSenderWS_integraSender" serializeAs="String">
        <value>http://ips.integraparking.com/integraSenderWS/integraSender.asmx</value>
      </setting>
    </integraMobile.Domain.Properties.Settings>
  </applicationSettings>
  
  <!--<system.serviceModel>
    <client />
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomBinding_IPublishServiceV10">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="CustomBinding_IPublishServiceV12">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="CustomBinding_IPublishServiceV11">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV10" contract="MadridPlatform.IPublishServiceV10" name="CustomBinding_IPublishServiceV10" />
      <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc/V1.2" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV12" contract="MadridPlatform.IPublishServiceV12" name="CustomBinding_IPublishServiceV12" />
      <endpoint address="https://217.124.242.5/PublisherService/PublisherService.svc/V1.1" binding="wsHttpBinding" bindingConfiguration="CustomBinding_IPublishServiceV11" contract="MadridPlatform.IPublishServiceV11" name="CustomBinding_IPublishServiceV11" />
    </client>
  </system.serviceModel>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <machineKey validationKey="8DDA4EB7EBA9338D72916192C6128214C943FDA05D7263D4B888E0648A5839BD01BDF4B736202C21B3B42E1A1F67F72F86B0FE3DE0BB9D39832C8839D57701DD" decryptionKey="254D9921E28BEEE172575F1B8761C8209C00C5DB5183213D983E5E1BFB3D9585" validation="SHA1" decryption="AES" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="integraMobile.Domain.Properties.Settings.integraMobileConnectionString" passwordFormat="Encrypted" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <webServices>
      <protocols>
        <add name="HttpSoap12" />
        <add name="HttpSoap" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>    
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>